$white: #EEEEEE;
$lightBlue: #00ADB5;
$grey: #393E46;
$black: #222831;
$pink: #EE2B47;

$font: Roboto;

*{
   margin: 0;
   padding: 0;
}

@mixin button {
         color:$white;
         margin: 0px 10px;
         background: $lightBlue;
         padding: 7px;
         width: 60px;
         outline: none;
         border: none;
         text-align: center;
         border-radius: 5px;
         transition: all .2s;
}

@mixin buttonHover {
   cursor: pointer;
   outline: none;
   background: #019198;
   transform:scale(1.05);
}
