@import "base.scss";

.Edit{
   color: $white;
   background: $black;
   h1{
      text-align: center;
      margin-top: 30px;
      font-weight: 200;
   }
   input{
      margin-right: 500px;
   }

   .sliders{
      margin: auto;
      width: 80%;
      height: inherit;
      overflow-y: scroll;
      max-height: 72vh;

      .warp{
          width: 70%;
          margin: 10px auto;

       .slider {
         -webkit-appearance: none;
         width: 70%;
         height: 2px;
         margin: auto;
         background: #666666;
         outline: none;
         }
          .slider::-webkit-slider-thumb {
           -webkit-appearance: none;
           appearance: none;
           width: 10px;
           height: 10px;
           border-radius: 100%;
           background: $lightBlue;
           cursor: pointer;
          }

          p{
             margin: 1px 0;
          }
         }
   }
   .share{
      color:$white;
      margin: 50px auto;
      background: $lightBlue;
      padding: 7px;
      width: 60px;
      text-align: center;
      border-radius: 5px;
   }
   .share:hover{
      cursor: pointer;
   }
}
