@import "base.scss";

.header{
      color: $lightBlue;
      height: 60px;
      background: $black;
   h1{
      font-weight: 300;
      line-height: 60px;
      margin-left: 50px;
   }
   img{
      position: absolute;
      height: 40px;
      width: 40px;
      line-height: 60px;
      padding: 5px;
      padding-top: 8px;
   }
}
