@import "base.scss";

.uploadImage{
   color: $white;
   background: $black;
   .AddImagetoEdit{
      input[type="text"]{
         @include inputText;
      }
      input[type="submit"]{
         @include button;
         height: fit-content;
      }
      input[type="submit"]:hover{
         @include buttonHover;
      }
      input[type="text"]:focus{
         outline: none;
         background: rgba(255,255,255,.2);
      }
      input[type="text"]::placeholder{
         color: #a0a0a0;
      }
   }
   .saveImage{
      button{
         @include button;
         margin-top: 1vh;
      }
      button:hover{
         @include buttonHover;
      }
   }
   img{
      position: relative;
      width: 70%;
      margin: 80px 0 0 80px;
   }
   div{
      display: flex;
      margin: 1vh 0 0 6vw;
   }
}
