@import "base.scss";

.uploadImage{
   color: $white;
   background: $black;
   img{
      position: relative;
      width: 70%;
      margin: 80px 0 0 80px;
   }
   div{
      margin:10px 0 0 80px;
   }
}
