* {
  margin: 0;
  padding: 0; }

.Footer {
  width: 100vw;
  line-height: 30px;
  position: absolute;
  background: #1b2122;
  bottom: 0; }
  .Footer h1 {
    padding-left: 20px;
    font-weight: 100;
    line-height: 30px;
    font-size: 12px;
    color: #00ADB5; }
    .Footer h1 span {
      color: #EE2B47; }
    .Footer h1 a {
      color: #00ADB5;
      text-decoration: none;
      transition: all .2s; }
    .Footer h1 a:hover {
      cursor: pointer;
      text-decoration: underline; }
